div.main-block {
  display: flex;
  position: relative;
  justify-content: center;
  margin: auto;
  min-width: 15em;
  flex-direction: column;
  align-self: center;
  justify-self: center;
  gap: 2.5em;
  padding-left: 5%;
  padding-right: 5%;
}