@mixin side-padding {
  padding-left: 3%;
  padding-right: 3%;
}

div.main-block {
  display: flex;
  position: relative;
  justify-content: center;
  margin: auto;
  min-width: 15em;
  flex-direction: column;
  align-self: center;
  justify-self: center;
  gap: 2.5em;
  @include side-padding;

  > div:first-child {
    justify-content: center;
    text-align: center;
    gap: 0.6em;
  }
}

div.flex-column-block {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

div.header {
  display: flex;
  align-items: center;
  @include side-padding;
  padding-top: 1.2em;
  padding-bottom: 2em;
  gap: 1em;
  > div {
    text-align: center;
    gap: 13px;
    height: 100%;
  }
}

div.footer {
  @include side-padding;
  padding-bottom: 2.5em;
}

div.success-page {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  gap: 20px;
  padding-bottom: 5.3em;
  padding-left: 0.8em;
  margin: auto;
}

div.container-names {
  display: flex;
  gap: 1.3em;
  flex-wrap: wrap;
  position: relative;
}